@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "Beautifully Delicious";
  src: url("fonts/BDScript-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-amatic-bold: "Amatic SC", sans-serif;
  --font-sc-regular: "Courier Prime", monospace;
  --font-sc-bold: "Courier Prime", monospace;
}

.amatic-sc-bold {
  font-family: var(--font-amatic-bold);
  font-weight: 700;
  font-style: normal;
}
.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}
.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: "EB Garamond", serif;
  background-color: #f6f2e9;
}

.wrapper {
  margin: 0 auto;
}

/* 1. Hero */
.hero {
  position: relative;
  text-align: center;
  padding: 40px 20px 20px 20px;
  overflow: hidden;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  transform: scale(1.2) translateY(8%);
  z-index: -1;
}

.hero__title {
  max-width: 650px;
  margin: 0 auto 20px auto;
}

.hero__title h2 {
  font-family: "Beautifully Delicious", cursive;
  font-size: 64px;
  font-weight: 100;
  line-height: 40px;
  transform: rotate(-5deg);
}

.hero__title img {
  width: 150px;
  height: auto;
  display: block;
  margin: 5px auto 0 auto;
  transform: translateX(8%);
}

.hero__photo {
  max-width: 380px;
  margin: 10px auto;
}

.hero__photo img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.hero p {
  font-family: var(--font-amatic-bold);
  font-size: 20px;
  margin-bottom: 20px;
}

.hero__verse {
  margin: 0 auto;
  width: 100%;
  background-color: #f6f2e9;
  padding: 20px;
  font-family: var(--font-sc-regular);
  font-size: 12px;
  letter-spacing: 0.5px;
  max-width: 591px;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

/* 2. Invite */
.invite {
  position: relative;
  text-align: center;
  padding: 60px 10px;
  color: #333;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.invite::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("images/invite-bg.jpg");
  background-size: cover;
  background-position: center;
  transform: scale(1.05);
  z-index: -1;
}

.invite__img {
  position: relative;
  max-width: 420px;
  transform: rotate(-1deg);
  z-index: 1;
  display: flex;
  justify-content: center;
}

.invite__img img {
  width: 90%;
  height: auto;
  display: block;
}

.invite__clippy {
  position: absolute;
  top: -7%;
  right: 5%;

  width: 22%;
  aspect-ratio: 1 / 1;

  background-image: url("images/clipy.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  z-index: 2;
}

/* 3. Location */
.location {
  background-image: url("images/location-bg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 40px 20px;
  color: #333;
}

.location__title {
  margin-bottom: 15px;
}

.location__title h2 {
  font-family: "Beautifully Delicious", cursive;
  font-size: 54px;
  font-weight: 100;
  line-height: 25px;
  transform: rotate(-10deg);
}

.location__title img {
  width: 75px;
  height: auto;
  display: block;
  margin: 0px auto 0 auto;
  transform: translateX(8%);
  transform: rotate(-10deg);
}

.details {
  font-family: var(--font-amatic-bold);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.location__images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.address {
  font-family: var(--font-amatic-bold);
  font-size: 14px;
}

.location--church img,
.location--venue img {
  width: 70%;
}

/* 4. RSVP */
.rsvp {
  background-image: url("images/rsvp-bg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 40px 20px;
  color: #333;
}

/* 5. Countdown */
.countdown {
  background-image: url("images/countdown-bg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 40px 20px;
  color: #333;
}

@media (min-width: 768px) {
  .hero::before {
    transform: scale(1.2) translateY(8%);
  }
}

@media (min-width: 1024px) {
  .hero::before {
    transform: scale(1.2) translateY(8%);
  }
  .hero__title {
    max-width: 700px;
    margin: 0 auto;
  }

  .hero__photo {
    max-width: 420px;
    margin: 10px auto;
  }
}

@media (min-width: 1440px) {
  .hero::before {
    transform: scale(1) translateY(0%);
  }
}
